.vm-toggle {
  &__thumb {
    background: $color-divider;

    &::after {
      background: $color-bg;
    }
  }

  &.is--checked {
    .vm-toggle__thumb {
      background: $color-primary-text-dark;

      &::after {
        background: $color-primary;
      }
    }
  }
}
