/* stylelint-disable custom-property-empty-line-before */

// $color-text: var(--vm-color-text, #212121);
// $color-text-light: var(--vm-color-text-light, $grey-600);

// $color-divider: var(--vm-color-divider, $grey-300);
// $color-disabled: var(--vm-color-disabled, $grey-500);

// $color-bg-dark: var(--vm-color-bg-dark, $blue-grey-50);
// $color-bg-light: var(--vm-color-bg-light, $white);

$sha: rgba(0, 0, 0, 0.2);
$shu: rgba(0, 0, 0, 0.14);
$shp: rgba(0, 0, 0, 0.12);

:root {
  --vm-font-medium: 500;
  --vm-font-regular: 400;
  --vm-font-light: 300;
  --vm-font-bold: 600;
  --vm-color-primary: #3f51b5;
  --vm-color-primary-text-light: #9fa8da;
  --vm-color-primary-divider: #5c6bc0;
  --vm-color-primary-warning: #ffcc80;
  --vm-color-primary-text: white;
  --vm-color-success: green;
  --vm-color-success-text: white;
  --vm-color-warning: orange;
  --vm-color-warning-text: white;
  --vm-bg-default: #fafafa;

  // $color-error: var(--vm-color-error, $red-500);
  // $color-error-text: var(--vm-color-error, $red-500);

  --vm-shadow-xs: 0 1px 3px 0 #{$sha}, 0 1px 1px 0 #{$shu},
    0 2px 1px -1px #{$shp};
  --vm-shadow-sm: 0 2px 4px -1px #{$sha}, 0 4px 5px 0 #{$shu},
    0 1px 10px 0 #{$shp};
  --vm-shadow-md: 0 3px 5px -1px #{$sha}, 0 6px 10px 0 #{$shu},
    0 1px 18px 0 #{shp};
  --vm-shadow-lg: 0 7px 8px -4px #{$sha}, 0 12px 17px 2px #{$shu},
    0 5px 22px 4px #{$shp};
  --vm-shadow-xl: 0 11px 15px -7px #{$sha}, 0 24px 38px 3px #{$shu},
    0 9px 46px 8px #{$shp};
}

// $color-primary: var(--vm-color-primary, $indigo);
// $color-primary-dark: var(--vm-color-primary-dark, $indigo);
// $color-primary-light: var(--vm-color-primary-light, $indigo);
// $color-primary-text: var(--vm-color-primary-text, #fff);
// $color-primary-text-light: var(--vm-color-primary-text-light, $indigo-200);
// $color-primary-light-text: var(--vm-color-primary-light-text, #fff);
// $color-primary-divider: var(--vm-color-primary-divider, $indigo-400);

// $color-secondary: var(--vm-color-secondary, $indigo);
// $color-secondary-dark: var(--vm-color-secondary-dark, $indigo);
// $color-secondary-light: var(--vm-color-secondary-light, $indigo);
// $color-secondary-text: var(--vm-color-secondary-text, #fff);
// $color-secondary-light-text: var(--vm-color-secondary-light-text, #fff);

// $color-success: var(--vm-color-success, $green-500);
// $color-success-text: var(--vm-color-success-text, $green-500);

// $color-warning: var(--vm-color-warning, $orange-600);
// $color-warning-text: var(--vm-color-warning-text, $green-500);

// $color-error: var(--vm-color-error, $red-500);
// $color-error-text: var(--vm-color-error, $red-500);

// $color-tag: var(--vm-color-tag, $orange-700);

//
// $bg-overlay: var(--vm-bg-overlay, rgba(0, 0, 0, 0.48));
// $bg-action-hover: var(--vm-bg-hover, rgba(0, 0, 0, 0.1));

// $border-radius: var(--vm-border-radius, 4px);
// $radius-box: var(--vm-radius-box, 6px);

// $transition-ease-out: var(
//   --vm-transition-ease-out,
//   0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
// );
