@import 'vars';

$token-comment:           $text-light;
$token-punctuation:       $text-light;
$token-tag:               #2973b7;
$token-string:            #2973b7;
$token-operator:          #a67f59;
$token-keyword:           $color-success;
$token-function:          #e96900;
$token-variable:          #e90;


.token {

    &.comment,
    &.prolog,
    &.doctype,
    &.cdata {
        color: $token-comment;
    }

    &.punctuation {
        color: $token-punctuation;
    }

    &.property,
    &.tag,
    &.boolean,
    &.number,
    &.constant,
    &.symbol,
    &.deleted {
        color: $token-tag;
    }

    &.selector,
    &.attr-name,
    &.string,
    &.char,
    &.builtin,
    &.inserted {
        color: $token-string;
    }


    &.operator,
    &.entity,
    &.url,
    .language-css &.string,
    .style &.string {
        color: $token-operator;
    }

    &.atrule,
    &.attr-value,
    &.keyword {
        color: $token-keyword;
    }

    &.function {
        color: $token-function;
    }

    &.regex,
    &.important,
    &.variable {
        color: $token-variable;
    }
}
