@import 'vars';

$token-comment:           $color-text-light;
$token-punctuation:       $color-text-light;
$token-tag:               #2973b7;
$token-string:            #2973b7;
$token-operator:          #a67f59;
$token-keyword:           $purple;
$token-function:          $blue-600;
$token-variable:          #e90;

.token {

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $token-comment;
  }

  &.punctuation {
    color: $token-punctuation;
  }


  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted {
    color: $token-tag;
  }

  &.selector {
    color: $orange-700;
  }


  &.attr-name,
  &.string,
  &.char,
  &.inserted {
    color: $token-string;
  }

  &.builtin {
    color: $yellow-800;
  }

  &.operator,
  &.entity,
  &.url,
  .language-css &.string,
  .style &.string {
    color: $token-operator;
  }

  &.atrule,
  &.keyword {
    color: $token-keyword;
  }

  &.attr-value {
    color: $green;
  }

  &.function {
      color: $token-function;
  }

  &.regex,
  &.important,
  &.variable {
      color: $token-variable;
  }
}
