.shadow-xs {
  box-shadow: var(--vm-shadow-xs);
}

.shadow-sm {
  box-shadow: var(--vm-shadow-sm);
}

.shadow-md {
  box-shadow: var(--vm-shadow-md);
}

.shadow-lg {
  box-shadow: var(--vm-shadow-lg);
}

.shadow-xl {
  box-shadow: var(--vm-shadow-xl);
}
