.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.slide-y {

  &-enter-active,
  &-leave-active {
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(-12px);
  }
}

.slide-x {
  &-enter-active,
  &-leave-active {
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateX(-12px);
  }
}

