@import 'vars';

/* stylelint-disable selector-max-type */

h1,
.headline-1 {
  font-size: 96px;
  letter-spacing: -1.5px;
  font-weight: $text-light;
  line-height: 1;
}

h2,
.headline-2 {
  font-size: 60px;
  font-weight: $text-light;
  letter-spacing: -0.5px;
}

h3,
.headline-3 {
  font-size: 48px;
  font-weight: $text-regular;
  letter-spacing: 0;
}

h4,
.headline-4 {
  font-size: 34px;
  font-weight: $text-regular;
  letter-spacing: 0.00735294em;
}

h5,
.headline-5 {
  font-size: 24px;
  font-weight: $text-regular;
  letter-spacing: 0;
}

h6,
.headline-6 {
  font-size: 20px;
  font-weight: $text-medium;
  letter-spacing: 0.0125em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
}

p,
.body-1 {
  font-size: 16px;
  font-weight: $text-regular;
  letter-spacing: 0.010em;
  line-height: 2em;
}

small,
.caption {
  font-size: 12px;
  font-weight: $text-regular;
  letter-spacing: 0.4em;
}

* {
  border-color: $color-divider;
}

.subtitle-1 {

}

.subtitle-2 {
  font-size: 14px;
  font-weight: $text-medium;
  letter-spacing: 0.1px;
}

// .text-body-2 {

// }

// .text-overline {

// }

.shadow-1 {
  box-shadow: $shadow-1;
}

.shadow-2 {
  box-shadow: $shadow-2;
}

.shadow-3 {
  box-shadow: $shadow-3;
}

