@import './vars/material-colors.scss';

$color-text: var(--vm-color-text, $grey-900);
$color-text-light: var(--vm-color-text-light, $grey-600);

$color-divider: var(--vm-color-divider, $grey-300);
$color-disabled: var(--vm-color-disabled, $grey-500);

$color-bg-dark: var(--vm-color-bg-dark, $blue-grey-50);
$color-bg-light: var(--vm-color-bg-light, $white);

:root {
  --vm-color-primary-text-light: #{$indigo-200};
  --vm-color-primary-divider: #{$indigo-400};
  --vm-color-primary-warning: #{$orange-200};
  --vm-color-primary-text: white;
}

$color-primary: var(--vm-color-primary, $indigo);
$color-primary-dark: var(--vm-color-primary-dark, $indigo);
$color-primary-light: var(--vm-color-primary-light, $indigo);
$color-primary-text: var(--vm-color-primary-text, #fff);
$color-primary-text-light: var(--vm-color-primary-text-light, $indigo-200);
$color-primary-light-text: var(--vm-color-primary-light-text, #fff);
$color-primary-divider: var(--vm-color-primary-divider, $indigo-400);

$color-secondary: var(--vm-color-secondary, $indigo);
$color-secondary-dark: var(--vm-color-secondary-dark, $indigo);
$color-secondary-light: var(--vm-color-secondary-light, $indigo);
$color-secondary-text: var(--vm-color-secondary-text, #fff);
$color-secondary-light-text: var(--vm-color-secondary-light-text, #fff);

$color-success: var(--vm-color-success, $green-500);
$color-success-text: var(--vm-color-success-text, $green-500);

$color-warning: var(--vm-color-warning, $orange-600);
$color-warning-text: var(--vm-color-warning-text, $green-500);

$color-error: var(--vm-color-error, $red-500);
$color-error-text: var(--vm-color-error, $red-500);

$color-tag: var(--vm-color-tag, $orange-700);

$bg-default: var(--vm-bg-default, $grey-50);
$bg-overlay: var(--vm-bg-overlay, rgba(0, 0, 0, 0.48));
$bg-action-hover: var(--vm-bg-hover, rgba(0, 0, 0, 0.1));

$font-medium: var(--vm-font-medium, 500);
$font-regular: var(--vm-font-regular, 400);
$font-light: var(--vm-font-light, 300);
$font-bold: var(--vm-font-bold, 600);

$border-radius: var(--vm-border-radius, 4px);
$radius-box: var(--vm-border-radius, 6px);

$transition-ease-out: var(
  --vm-transition-ease-out,
  0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
);
